<!--詳細と投稿一覧を作成する-->
      <!--ルーティングを確認-->
        <!--変更はなし-->
        <!--showアクションがresourcesのonly内に記述されているかを確認-->
  <!--NEXT マイページへのリンクを、ヘッダーに設定-->
      <!--Go_to app/views/layouts/application.html.erb-->
<!--ユーザーの詳細ページにも編集ページへのリンクを追加-->
      <!--link_to "プロフィール編集", パス名-->
      <!--$ rails routesで確認可能-->
  <!--NEXT 更新機能を作成-->
      <!--Go_to app/controllers/users_controller.rb-->
<!--編集画面へのリンクを追加-->
      <!--ログインしているユーザーに本人のみ、編集リンクを表示させる-->
      <!--画面に表示しているユーザーと、ログインしているユーザーのIDが一致するか確認-->
      <!--devise　ヘルパーメソッド-->
        <!--if @user == current_user-->
          <!--Userモデルに紐付いたカラムの情報も取得できる-->
          <!--current_user.カラム名-->
  <!--NEXT ダミーで表示させていた画像の記述を変更-->
      <!--Go_to app/views/post_images/index.html.erb-->

<!-- ユーザーの詳細 -->
<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <% if @user == current_user %>
    <%= link_to "プロフィール編集", edit_user_path(@user) %>
  <%end%>
</div>

<!-- ユーザーの投稿一覧 -->
<% @post_images.each do |post_image| %>
<div>
  <%= link_to post_image_path(post_image.id) do %>
    <%= image_tag post_image.get_image %>
  <%end%>
  <p>投稿ユーザー画像:<%= image_tag post_image.user.get_profile_image(100,100) %></p>
  <p>ショップ名:<%= post_image.shop_name %></p>
  <P>説明:<%= post_image.caption %></P>
  <p>ユーザーネーム:<%= post_image.user.name %></p>
</div>
<%end%>