<!--form_with を利用して、post_images_path/post_imagesに画像をアップロード-->
  <!--画像アップロードフィールドは、f.file_field :image, accept: "image/*" で実装-->
      <!--ルーティングはすでに resources で new アクションを設定しているため変更なし-->
      <!--onlyオプションを使用している場合、resourcesのonly内にnewアクションの記述があるかを確認-->
<!--NEXT PostImage をデータベースに登録する機能を作成 Go_to app/controllers/post_image_controller-->
<!--バリデーションによるエラーメッセージを表示-->
      <!--if~endの記述-->
<!--NEXT ページネーション機能を実装 Go_to Gemfile-->

<!--投稿フォームを整えよう-->
<div class="container"> <!--追加-->
  <div class="row no-gutters"> <!--追加-->
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5"> <!--追加-->
      <h5 class="text-dark bg-light p-4 mb-0">画像投稿フォーム</h5> <!--h1=>h5に変更、クラス名追加-->
      <div class="form-body p-4"> <!--追加-->
        <% if @post_image.errors.any? %>
          <ul class="alert alert-danger" role="alert"> <!--追加、ul要素が２つだったのを１つにまとめた-->
            <h6 class="alert-heading"> <!--追加-->
            <%= @post_image.errors.count %>件のエラーが発生しました
            </h6> <!--追加-->
            <% @post_image.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <%end%>
          </ul>
        <%end%>
        <%= form_with model: @post_image do |f| %>
        <!--<h4>画像</h4>を削除-->
          <%= f.file_field :image, accept: "image/*", class:"w-100" %> <!--クラス名追加-->
          <div class="input-group mb-3 mt-4"> <!--追加-->
            <div class="input-group-prepend"> <!--追加-->
              <span class="input-group-text" aria-hidden="true"><i class="fas fa-building"></i></span> <!--追加-->
            </div> <!--追加-->
            <%= f.text_field :shop_name, class:"form-control", placeholder:"ショップ名" %> <!--<h4>ショップ名</h4>を削除、クラス名追加、placeholder:を追加-->
          </div> <!--追加-->
          <%= f.text_area :caption, class:"form-control", rows:"3", placeholder:"コメントここに" %> <!--<h4>説明</h4>を削除、クラス名追加、rows:、placeholder:を追加-->
          <hr> <!--追加-->
          <%= f.submit '投稿' %>
        <% end %>
      </div> <!--追加-->
    </div> <!--追加-->
  </div> <!--追加-->
</div> <!--追加-->