<!DOCTYPE html>
<html>
  <head>
    <title>Meshiterro</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <!--if user_signed_in?は、devise 側で用意しているヘルパーメソッド-->
        <!--devise の機能を使ってログインorアンログインかを判断し、どちらかによってブラウザに表示する内容を変更する-->
          <!--ログイン済みの場合：if user_signed_in? から  else 間のコードが表示-->
          <!--ログインしていない場合：else から end 間のコードが表示-->
    <!--NEXT devise のフォームヘルパーを変更-->
        <!--ユーザー登録画面のログイン画面-->
            <!--Go_to app/views/devise/registrations/new.html.erb-->
    <!--追記：createアクション作成後 => 投稿フォームへのリンク-->
        <!--NEXT 投稿したPostImageを一覧表示する一覧画面を作成-->
            <!--Go_to models/post_image.rb-->
    <!--追記：ユーザー詳細画面の作成後-->
        <!--link_to 'マイページ', user_path(current_user.id)-->
  <body>
    <header>
      <% if user_signed_in? %> 
        <li><%= link_to '投稿フォーム', new_post_image_path %></li>
        <li><%= link_to 'マイページ', user_path(current_user.id) %></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "新規登録", new_user_registration_path %></li>
        <li><%= link_to "ログイン", new_user_session_path %></li>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
